body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

header {
    background-color: #005b96;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    margin: 0;
}

div {
    margin: 20px 0;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #222;
}

input[type="range"] {
    width: 300px;
    margin-top: 10px;
}

a {
    all:unset;
    display: flex;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    align-items: center;
    min-width: 150px;
}

button:hover {
    background-color: #357abd;
}

button > * {
    display: flex;
    flex-direction: column;
}

button > span {
    width: 100%;
    text-align: center;
}

i {
    font-size: 3rem;
    color: white;
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 20px;
    background: #d7f0ff;
    padding: 10px 20px;
    border-radius: 10px;
}

audio {
    display: block;
    margin: 10px auto;
    width: 300px;
}

span {
    margin-right: 8px;
}

#oscilloscope {
    width: 100%;
    height: 25vh;
    margin: 0;
}

#audio_i_przechyc > * {
    display: block;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0;
    margin-top: 0;
}

#capture {
    width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 7cm) {
    #buttons {
        width: 100%;
    }
}